.email{
    position: absolute;
    top: 400px; left: 40 px;
    background-color: rgb(218, 213, 213);
    color:rgb(89, 88, 88)
}

.mdp{
    position: absolute;
    top: 500px; left: 40 px;
    background-color: rgb(218, 213, 213);
    color:rgb(89, 88, 88)
}