<ion-content>
  <div class="header">
    <img class="center-image" src="../../../assets/icon/logo.png" />
  </div>
  <div class="bvn">Bienvenue</div>
  <!-- Input with placeholder -->
  <ion-input
    class="email"
    type="email"
    placeholder="adresse e-mail"
  ></ion-input>
  <!-- Input with placeholder -->
  <ion-input class="mdp" type="password" placeholder="mot de passe"></ion-input>
  <ion-button class="connect" shape="round" color="danger">
    Connexion
  </ion-button>
  <ion-button class="noAccount" shape="round" color="light">
    Pas encore de compte ?
  </ion-button>
  <ion-button class="mdpForgot" color="dark" fill="clear">
    Mot de passe oublié ?
  </ion-button>
</ion-content>
