.email {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: sticky;
  top: 250px;
  background-color: rgb(240, 238, 238);
  color: rgb(79, 79, 79);
  font-size: small;
}

.mdp {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: sticky;
  top: 300px;
  background-color: rgb(240, 238, 238);
  color: rgb(79, 79, 79);
  font-size: small;
}

.header {
  height: 5cm;
}

.centrer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
