<ion-content>
  <swiper #swiper class="ion-slides">
    <ng-template swiperSlide>
      <div class="page">
        <div class="header">Rencontre de nouvelles personnes</div>
        <br />
        <div class="corps">
          Nous pensons que l'amitié naît de la découverte d'affinités et de
          points communs. <br />
          <br />
          C’est pourquoi, nous avons mis en place un système vous permettant de
          personnaliser vos rencontres
        </div>
        <span class="dot_pink"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="page">
        <div class="header">
          Trouve des événements et personnes près de chez toi
        </div>
        <br />
        <div class="ville">
          Pour cela, nous avons besoin de connaître ta position, si ça te
          dérange, tu peux simplement saisir ta ville <br />
          <br />
        </div>
        <br />
        <br />
        <br />
        <img class="center-image" src="../../../assets/icon/ici.png" />
        <br />
        <ion-button class="accessPos" shape="round" color="medium">
          Accéder à ma position
        </ion-button>
        ou <br /><br />
        Saisir une ville <br />
        <br />
        <ion-input class="villeInput" placeholder="ville"> </ion-input>
        <span class="dot_grey"></span>
        <span class="dot_pink"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="page">
        <div class="header">Rencontre de nouvelles personnes</div>
        <br />
        <div class="corps">
          Nous pensons que l'amitié naît de la découverte d'affinités et de
          points communs. <br />
          <br />
          C’est pourquoi, nous avons mis en place un système vous permettant de
          personnaliser vos rencontres
        </div>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_pink"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="page">
        <div class="header">Rencontre de nouvelles personnes</div>
        <br />
        <div class="corps">
          Nous pensons que l'amitié naît de la découverte d'affinités et de
          points communs. <br />
          <br />
          C’est pourquoi, nous avons mis en place un système vous permettant de
          personnaliser vos rencontres
        </div>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_pink"></span>
        <span class="dot_grey"></span>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="page">
        <div class="header">Rencontre de nouvelles personnes</div>
        <br />
        <div class="corps">
          Nous pensons que l'amitié naît de la découverte d'affinités et de
          points communs. <br />
          <br />
          C’est pourquoi, nous avons mis en place un système vous permettant de
          personnaliser vos rencontres
        </div>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_grey"></span>
        <span class="dot_pink"></span>
      </div>
    </ng-template>
  </swiper>
</ion-content>
